footer {
    background-color: $footer-bg-color;
    padding: 20px;

    .footer-links {
        display: flex;
        width: 100%;


        &-first__column {
            display: flex;
            position: absolute;
            left: 0;
            margin-left: 10px;
        }

        &-second__column {
            display: flex;
            position: relative;
            justify-content: center;
            margin-left: auto;
            margin-right: auto;
        }

        &-third__column {
            display: flex;
            position: absolute;
            right: 0;
        }

        span {
            color: $footer-link-color;
        }

        a {
            color: $footer-link-color;
            text-decoration: none;
            margin: 0 10px;
            &:hover {
                color: $footer-link-hover-color; 
                text-decoration: underline;
            }
        }
    }
}

.footer-first {
    margin: 0 auto;
    max-width: 980px;
    padding: 0 22px;
    &__columns {
        display: flex;
    }
    &__column {
        width: 20%;
    }
}

@media (max-width: 833px) {
    .footer-first {
        &__columns {
            display: block;
        }
        &__column {
            width: 100%;
            h2 {
                font-size: 15px;
            }
        }
    }
    .footer-links {
        flex-direction: column;
    }
    .footer-links-first__column {
        position: relative !important;
        order: 2;
    }
    .footer-links-second__column {
        position: relative !important;
        margin-left: 0 !important;
        order: 3;
    }
    .footer-links-third__column {
        order: 1;
        position: relative !important;
    }
}
