footer {
    background-color: $footer-bg-color;
    padding: 20px;

    .footer-links {
        display: flex;
        justify-content: center;

        span {
            color: $footer-link-color;
        }

        a {
            color: $footer-link-color;
            text-decoration: none;
            margin: 0 10px;
            &:hover {
                color: $footer-link-hover-color; 
                text-decoration: underline;
            }
        }
    }
}

.footer-first {
    margin: 0 auto;
    max-width: 980px;
    padding: 0 22px;
    &__columns {
        display: flex;
    }
    &__column {
        width: 20%;
    }
}
