.legal-documents {
    display: grid;
    padding-top: 50px;
    justify-content: center;
    h1 {
        font-size: 2em;
        margin-bottom: 15px;
    }

    ul {
        list-style: none;
        padding: 0;

        li {
            margin-bottom: 0.5em;

            a {
                color: #007bff;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

.legal-document {
    display: grid;
    padding-top: 50px;
    justify-content: center;
    h1 {
        font-size: 2em;
        margin-bottom: 1em;
    }
    span {
        display: block;
        font-size: 1em;
        line-height: 1.5;
        color: #333;
    }
}

