@import 'variables';

.navbar {
    display: flex;
    position: fixed;
    width: calc(100% - 20px);
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    opacity: 0.8;
    z-index: 1000;

    .logo a {
        font-size: 24px;
        text-decoration: none;
    }

    .navigation-desktop {
        display: flex;
        align-items: center;

        a {
            text-decoration: none;
            margin: 0 15px;
        }

        .search, .account, .software {
            position: relative;

            .search-dropdown, .account-dropdown, .software-dropdown {
                display: none;
                position: absolute;
                top: 100%;
                left: 0;
                z-index: 1;
            }

            button {
                background: transparent;
                border: none;
                cursor: pointer;

                &:hover + .search-dropdown,
                &:hover + .account-dropdown,
                &:hover + .software-dropdown {
                    display: block;
                }
            }

            input {
                padding: 5px;
                width: 200px;
            }
        }
    }
}

.search-dropdown, .account-dropdown, .software-dropdown {
    display: none; 
    position: absolute;
    border-radius: 4px; 
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); 
    z-index: 1000; 
    padding: 10px; 
    min-width: 200px; 
    transition: all 0.2s ease-in-out; 
    
    right: 0;

    a {
        text-decoration: none; 
        display: block; 
        padding: 10px; 
        border-radius: 4px; 
    }
}

.light {
    .navbar {
        background-color: $navbar-bg-color-light; 
        .logo a {
            color: $navbar-text-color-light; 
        }

        .navigation-desktop {

            a {
                color: $navbar-text-color-light; 
                &:hover {
                    color: $navbar-text-color-light;
                }
            }

            .search, .account, .software {

                .search-dropdown, .account-dropdown, .software-dropdown {
                    background-color: $navbar-bg-color-light;
                    border: 1px solid $c-gray;
                }

                button {
                    color: $navbar-text-color-light;
                }
            }
        }
    }

    .search-dropdown, .account-dropdown, .software-dropdown {
        background-color: $navbar-bg-color-light; 
        border: 1px solid $c-gray;

        a {
            color: $navbar-text-color-light; 

            &:hover {
                background-color: $navbar-link-hover-color-light; 
                color: $navbar-text-color-light; 
            }
        }
    }
    
}

.dark {
    .navbar {
        background-color: $navbar-bg-color-dark; 

        .logo a {
            color: $navbar-text-color-dark; 
        }

        .navigation-desktop {

            a {
                color: $navbar-text-color-dark; 
                &:hover {
                    color: $navbar-text-color-dark;
                }
            }

            .search, .account, .software {

                .search-dropdown, .account-dropdown, .software-dropdown {
                    background-color: $navbar-bg-color-dark;
                    border: 1px solid $c-gray;
                }

                button {
                    color: $navbar-text-color-dark;
                }
            }
        }
    }

    .search-dropdown, .account-dropdown, .software-dropdown {
        background-color: $navbar-bg-color-dark; 
        border: 1px solid $c-gray; 
        
        a {
            color: $navbar-text-color-dark; 

            &:hover {
                background-color: $navbar-link-hover-color-dark; 
                color: $navbar-text-color-dark;
            }
        }
    }
}

.navigation-mobile {
    display: none;
}

@media (max-width: 833px) {
    .navigation-desktop {
        display: none;
    }

    .navigation-mobile {
        display: flex;
        .mobile-nav__link {
            margin-left: 15px;
        }
        .search-dropdown-mobile, .account-dropdown-mobile, .menu-dropdown-mobile {
            display: none;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100vh;
            flex-direction: column;
            opacity: 1;
            z-index: 1000;
            .close {
                position: absolute;
                right: 0;
                margin: 15px;
            }
            .dropdown {
                &__items {
                    display: grid;
                    width: 80%;
                    margin-top: 50px;
                    justify-content: center;
                    .accordion-navigation {
                        width: 100%; 
                        max-width: 600px; 
                        margin: 0 auto;
                    }
                      
                    .accordion-navigation__items {
                        display: block; 
                    }

                    .accordion-navigation__item {
                        padding: 10px;
                        font-size: 15px;
                        text-decoration: none;
                    }
                      
                    .accordion-header-navigation {
                        width: 100%;
                        text-align: left;
                        border: none;
                        cursor: pointer;
                        font-size: 20px;
                        .icon-circle-down {
                            font-size: 15px;
                        }
                    }
                      
                      
                    .accordion-content-navigation {
                        display: none;
                        overflow: hidden;
                        transition: max-height 0.3s ease;
                        max-height: 0;
                    }
                      
                    .accordion-content-navigation.active {
                        display: flex;
                        flex-direction: column; 
                        max-height: 500px;
                    }
                    .support-navigation-mobile {
                        text-decoration: none;
                        font-size: 20px;
                    } 
                }
            }
              
        }
    }

    .dark {
        .navigation-mobile {
            .search-dropdown-mobile, .account-dropdown-mobile, .menu-dropdown-mobile {
                background-color: $navbar-bg-color-dark;
            }

            .accordion-navigation__item {
                color: $navbar-text-color-dark;
            }
        }
    }

    .light {
        .navigation-mobile {
            .search-dropdown-mobile, .account-dropdown-mobile, .menu-dropdown-mobile {
                background-color: $navbar-bg-color-light;
            }

            .accordion-navigation__item {
                color: $navbar-text-color-light;
            }
        }
    }
}
