.products {
    .row {
        display: flex;
        justify-content: space-between;
        margin: 20px 0;

        .column {
            flex: 1;
            margin: 0 10px;
            padding: 20px;
            background-color: $background-color;
            border: 1px solid #ddd;
            color: $font-color;
            text-align: center;
            text-decoration: none;
            &-text {
                position: relative;
                background-color: $c-gray;
                border-radius: 30px;
                padding: 15px;
            }
        }
    }
}

@media (max-width: 833px) {
    .products {
        .row{
            flex-direction: column;
            margin: 0;
        }
        .column {
            margin: 10px 0 !important;
        }
    }   
}
