$primary-color: #3490dc;
$secondary-color: #ffed4a; 
$background-color: #f8fafc; 
$font-color: #333; 


$navbar-text-color: #4D4B45;   
$navbar-bg-color: #F2E1B3;       
$navbar-link-color: #D6A19A;   
$navbar-link-hover-color: #E1BFA3;

$navbar-pl-text-color: #4D4B45; 
$navbar-pl-bg-color: #F2E1B3;      
$navbar-pl-link-color: #D6A19A;      
$navbar-pl-link-hover-color: #E1BFA3;

$footer-bg-color: #34495e;      
$footer-text-color: #ecf0f1;     
$footer-link-color: #3498db;     
$footer-link-hover-color: #2980b9; 

