$primary-color: #3490dc; // Kolor główny
$secondary-color: #ffed4a; // Kolor drugorzędny
$background-color: #f8fafc; // Kolor tła
$font-color: #333; // Kolor tekstu

// Definiowanie kolorów
$navbar-bg-color: #E0C097;        
$navbar-text-color: #2C2A25;      
$navbar-link-color: #A26A5D;      
$navbar-link-hover-color: #C09B7A; 

$navbar-second-text-color: #4D4B45;      // Jaśniejszy kolor tekstu
$navbar-second-bg-color: #F2E1B3;        // Jaśniejszy kolor tła
$navbar-second-link-color: #D6A19A;      // Jaśniejszy kolor linków
$navbar-second-link-hover-color: #E1BFA3;

$footer-bg-color: #34495e;        // Ciemniejszy niebieski (jeśli chcesz zmienić, daj znać)
$footer-text-color: #ecf0f1;      // Jasny szary
$footer-link-color: #3498db;      // Jasny niebieski
$footer-link-hover-color: #2980b9; // Ciemniejszy niebieski

