$c-white: #fff;
$c-gray: #ccc;

$primary-color: #3490dc;
$secondary-color: #ffed4a; 
$background-color: #f8fafc; 
$font-color: #333; 


$navbar-text-color-light: #4D4B45;   
$navbar-bg-color-light: #F2E1B3;       
$navbar-link-color-light: #D6A19A;   
$navbar-link-hover-color-light: #E1BFA3;

$navbar-text-color-dark: #4D4B45; 
$navbar-bg-color-dark: #F2E1B3;      
$navbar-link-color-dark: #D6A19A;      
$navbar-link-hover-color-dark: #E1BFA3;

$footer-bg-color: #34495e;      
$footer-text-color: #ecf0f1;     
$footer-link-color: #3498db;     
$footer-link-hover-color: #2980b9; 

